.box{
  margin-top: 20px;
  padding: 0;
}

#header{
  position: absolute;
  z-index: 10;
  width: 100%;
}
#main-container {
  padding-top: 130px;
}
.main-section {
  background: #fff;
  border: 1px solid #ddd;
  padding: 30px;
  margin: 0 0 40px 0;
  width: 70%;
  float: left;
}
.work {
  position: relative;
  width: 274px;
  overflow: auto;
  float: left;
  margin: 20px 0 25px;
  font-family: 'M PLUS 1p', sans-serif;
}
.work:nth-child(even) {
  margin-right: 40px;
}
.work img {
  width: 100%;
  opacity: .9;

}
.work h3 {
  color: #fff;
  background-color: aqua;
  opacity: .6;
  position: absolute;
  bottom: 20px;
  margin-bottom: 0;
  padding: 15px;
  width: 100%;
  text-align: center;
  line-height: 30px;
  font-weight: 300;
  border-bottom: 0;
}
#Project-Container {
  padding-top: 130px;
}
.Project-Container {
  background: #fff;
  border: 1px solid #ddd;
  padding: 30px;
  margin: 0 0 40px 0;
  width: 70%;
  float: left;
}

.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
} 
 nav{
  position: fixed;
      background: rgba(0, 0, 0, 0.2);
 }

 li {
   font-size: 20px;
  color: whitesmoke;
 }
 nav li a:hover{
    color: aqua;
    border: solid aqua 3px;
 }
.jumbotron {
  background:url('../images/bg.png') top center;
  background-size: cover;
  padding-top: 12em;
  flex: 1;
}
.jumbotron h1 {
  margin: 0 auto;

  font-size: 500%;
  color: whitesmoke;
  font-family: 'Cormorant Garamond', serif;
  text-transform: uppercase;
  font-weight: bold;
  vertical-align: middle;
  display: table-cell;
  max-width: 500px;
}

.jumbotron P {
  margin-top: 1em;
  font-size: 100%;
  font-family: 'M PLUS 1p', sans-serif;
  color: whitesmoke;
}

.jumbotron{
 padding-left: 20px;
 padding-right: 20px;
 margin-bottom: 0;
 background-color: transparent !important;
 border-color: #dcdcdc;
}
.bg-dark{
  background-color: transparent !important;
}
.btn {
  color: whitesmoke;
  font-size: 125%;
  border: solid #whitesmoke 3px;
  border-radius: 9px;
  font-family: 'Oswald',sans-serif;
  padding: 10px 20px;
  text-transform: uppercase;
  background-color: transparent !important;
  text-decoration: none;
  vertical-align: middle;
  }
  .btn:hover {
    color: aqua;
    border: solid aqua 3px;
  }
  .page-footer {
    background:url('../images/bg2.png') bottom center;
    background-size: cover;
    color: whitesmoke;
    flex: 1;

  }
  @media screen and (max-width: 980px) {}
  main-section {
    width: 100%;
  }
}
  @media screen and (max-width: 768px) 
  {
    .jumbotron h1{
      font-size: 350%;
    }
    .btn {
      font-size: 110%;
      padding: 7px 15px;
    }
    p {
      font-size: 100%;
      line-height: 150%;
    }
    main-section {
      width: 100%;
  }


  @media screen and (max-width: 640px) {
    nav {
      text-align: center;
      width: 100%;
     }
    nav li {
      width: 30%;
      padding-left: 0;
      margin-left: 0;
      }  
      main-section {
        width: 100%;
      }
  }